<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Extended.Wpf.Toolkit" version="4.0.0" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="18.1.0.59" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.Core" version="18.1.0.59" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.SfPicker" version="18.1.0.59" targetFramework="net472" />
  <package id="Xamarin.Forms" version="3.6.0.344457" targetFramework="net472" />
</packages>